body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
  }
  
  section {
    width: 45%;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input, select {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 3px;
    border: none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  button {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #444;
  }
  
  #sql-queries button {
    margin-right: 10px;
  }
  
  footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
  }
  